.video {
    border: 0px;
    width: 750px;
    height: 600px;
    display: flex;
    margin-left: 20%;
    align-items: center;
    margin-right: 20%;
    justify-content: center;
}

.pythonBrief{
    font-size: 12;
    color: white;
    font-family: Avant Garde;
    margin-left: 10%;
    text-align: justify;
}

.videoDiv{
    float: right;
    margin-right: 15%;
}
